construct>=2.9.29
asn1
click
coloredlogs
IPython
bpylist2>=4.0.1
pygments
hexdump
arrow
daemonize
gpxpy<1.6.0
pykdebugparser>=1.2.4
pyusb>=1.2.1
tqdm
requests
xonsh
parameter_decorators
packaging
pygnuutils>=0.0.7
cryptography>=41.0.1
pycrashreport>=1.2.2
fastapi[all]>=0.93.0
uvicorn>=0.15.0
starlette
wsproto
nest_asyncio>=1.5.5
Pillow
inquirer3>=0.6.0
ipsw_parser>=1.3.1
remotezip
zeroconf>=0.132.2
ifaddr
hyperframe
srptools
qh3>=1.0.0,<2
developer_disk_image>=0.0.2
opack
psutil
pytun-pmd3>=2.0.8
aiofiles
prompt_toolkit
sslpsk-pmd3>=1.0.3
python-pcapng>=2.1.1
